/*@font-face {*/
/*    font-family: "Computer Modern";*/
/*    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');*/
/*}*/

/*@font-face {*/
/*    font-family: "Computer Modern";*/
/*    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');*/
/*    font-weight: bold;*/
/*}*/

/*@font-face {*/
/*    font-family: "Computer Modern";*/
/*    src: url('https://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: "Computer Modern";*/
/*    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');*/
/*    font-weight: bold;*/
/*    font-style: italic;*/
/*}*/

h1 {
    color: lightseagreen;
}

.pixel_text {
    font-family: "Press Start 2P", "Times New Roman", serif;
    font-size: medium;
    color: lightseagreen;
    line-height: 25px;
}

.normal_text {
    font-family: "Computer Modern", "Times New Roman", serif;
    font-size: large;
    color: lightseagreen;
    line-height: 25px;
}

body {
    background: mintcream;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*canvas {*/
/*    width: 50vw;*/
/*    height: 50vh;*/
/*    display: block;*/
/*}*/

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
    display: block;
    border: 2px solid lightseagreen;
}

/*The slider*/
.slidecontainer {
    width: 50%;
    text-align: center;
    margin-right: auto;
    margin-left: auto; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: lightseagreen; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: lightseagreen; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

input[type=text] {
    font-size: large;
    background-color: whitesmoke;
    align-content: center;
}
